        #container {
            width: 1200px;
            margin: auto;
            border: 10px;
        }

        header {
            background-color: antiquewhite;
            height: 150px;
            border: 10px;
        }

        aside {
            background-color: aqua;
            height: 600px;
            width: 300px;
            float: left;
            border: 10px;
        }

        article {
            background-color: rgb(140, 0, 255);
            height: 600px;
            width: 900px;
            float: left;
            border: 10px;
        }

        footer {
            background-color: rgb(255, 0, 128);
            height: 80px;
            clear: both;
            border: 10px;
        }